{% extends 'main/base.html' %}

{% block content %}
    
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for movie in movies %}
                <div class="col-md-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <h3><img src="{{movie.image}}" alt="movie banner" width="250" height="300" class="img-fluid"></h3>
                            <i class="h5">{{movie.name}}</i>
                            <div class="text-center">
                                <i>Released: {{movie.release_date}}</i>
                            </div>
                            <p class="text-center"><a href="{% url 'details' movie.id%}"> View More </a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content%}
